*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container::before,.container::after{
    content: "";
    display: block;
}
.container::after{
    clear: both;
}
/*把div标签设置成块元素*/
div{
    display: block;
}
/*设置a标签的颜色*/
a {
    color: #b0b0b0;
    text-decoration: none; /*去除超链接下划线*/
}
/*鼠标移动上去的颜色*/
a:hover{
  color: white;
}
/* .site-topbar */
.site-topbar{
    height: 60px;
    font-size: 14px;
    background: #333;
}
/* .container */
.container{
    width: 1226px;
    margin-right:auto ;
    margin-left: auto;
}

.container span{
    margin: 0 20px;
}
.container .topbar-nav{
    float: left;
    margin-left: 40px;
    height: 60px;
    line-height: 60px;
}
/* .topbar-info */
.container .topbar-info{
    float: left; 
    height: 60px;
    line-height: 60px;
    margin-right: 40px;
    margin-left: 420px;
}

/* .topbar-cart */
.topbar-cart{ 
    float: left;   
    width: 120px;
    line-height: 60px;
    height: 60px;
    background: #424242;
    text-align:center;
    vertical-align: center;
}
.container .topbar-cart span{
    margin: 0 5px;
}
.topbar-cart a:hover{
    background: orange;
}
